body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030c1c;
}
@font-face {
  font-family: "mexcellent";
  src: url('../font/mexcellent.3d.ttf') format('truetype');
}


.main {
  width: 100%;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  overflow-y: hidden;
  

}

.menuTitle {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* width: 40%; */
  height: auto;
  /* text-align: center;
  white-space: nowrap; */
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuTitle div {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.menuTitle .menuName {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  letter-spacing: 10px;
  font-style: oblique;
  border: double;
  border-radius: 20px;
  word-spacing: 2px;
  font-family: 'mexcellent';
  font-weight: normal;
  font-size: 70px;
  text-align: center;
}

.menuTitle .menuProfession {
  /* font-size: 11vw; */
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

/* NAVBAR */

.navbar {
  position: fixed;
  height: 100%;
  width: 10%;
  background-color: rgba(3, 3, 3, 0.5);
  justify-content: center;
  align-items: center;
}

.toolbar:hover {
  border: 1px solid;
  box-shadow: 1px 10px;
  border-color: #c3c3c3;
  opacity: 0.9;
}

.toolbar {
  /* position: absolute; */
  /* align-items: center; */
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  color: white;
  /* background-color: rgba(139, 137, 137, 0); */
  justify-content: space-around;
}

.toolbar:hover {
  filter: none;
}

.icons:hover {
  opacity: 0.9;
}

/* NAVBAR */

/* CONTENT */

/* MENU */

.menuContent {
  /* position: absolute; */
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-image: url("../images/hm1.jpeg");
  text-align: center;
  /* filter: blur(4px); */
  justify-content: center;
}


/* 
.menuName {
 
}

.menuProfession {
  font-family: 'mexcellent';
  padding: 0;
  text-align: center;
  color: white;
} */

/* MENU */

/* ABOUT */

.aboutContent {
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-image: url("../images/hm3.jpg");
}

/* ABOUT */

/* CV */

.cvContent {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-image: url("../images/hm4.jpg");
}

/* CV */

/* TIMELINE */

.timelineContent {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-image: url("../images/hm5.jpeg");
}

/* TIMELINE */

/* CONTACT */

.contactContent {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: black;
  color: white;
}

/* CONTACT */